ansible>=2.9.1; python_version == '2.7'
ansible>=2.9.1; python_version >= '3.5' and python_version <= '3.8'
ansible>=4.0.0; python_version == '3.9'
ansible>=5.0.1; python_version == '3.10'
ansible>=6.0.0; python_version >= '3.11'

ansible-core>=2.11.12; python_version == '3.9'
ansible-core>=2.12.10; python_version == '3.10'
ansible-core>=2.14.2; python_version >= '3.11'

requests>=2.22.0; python_version <= '3.9'
requests>=2.25.0; python_version >= '3.10'

Jinja2>=2.9; python_version <= '3.8'
Jinja2>=3.0; python_version >= '3.9'

MarkupSafe>=1.1.0; python_version <= '3.8'
MarkupSafe>=2.0.0; python_version >= '3.9'

cryptography>=3.3; python_version == '2.7'
cryptography>=3.0,<3.1; python_version == '3.5'
cryptography>=3.4.7,<37.0.0; python_version == '3.6'
cryptography>=3.4.7; python_version >= '3.7'

pywinrm
